<div class="content">
    <div class="settings-form p-4">
        <h2 class="mb-4">Security &#38; Login</h2>
        <div class="login-sessions">
            <h5 class="mb-3 text-muted">Where You're Logged In</h5>
            <div class="media location-card">
                <img class="mr-4" src="assets/images/icons/sessions/desktop.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 fs-1">Windows PC · Yerevan, Armenia</h5>
                    <span class="text-muted">Chrome · </span><span class="text-success">Active now</span>
                </div>
                <div class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='bx bx-dots-horizontal-rounded'></i></a>
                    <div class="dropdown-menu dropdown-menu-right nav-drop">
                        <a href="#" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
            <div class="media location-card">
                <img class="mr-4" src="assets/images/icons/sessions/android.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 fs-1">Android · Yerevan, Armenia</h5>
                    <span class="text-muted">Chrome · 21 hours ago</span>
                </div>
                <div class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='bx bx-dots-horizontal-rounded'></i></a>
                    <div class="dropdown-menu dropdown-menu-right nav-drop">
                        <a href="#" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
            <div class="media location-card">
                <img class="mr-4" src="assets/images/icons/sessions/iphone.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 fs-1">iPhone · Gyumri, Armenia</h5>
                    <span class="text-muted">Safari · 14 days ago</span>
                </div>
                <div class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='bx bx-dots-horizontal-rounded'></i></a>
                    <div class="dropdown-menu dropdown-menu-right nav-drop">
                        <a href="#" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
            <div class="media location-card">
                <img class="mr-4" src="assets/images/icons/sessions/tablet.png" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 fs-1">Tablet · Gyumri, Armenia</h5>
                    <span class="text-muted">Firefox · 2 months ago</span>
                </div>
                <div class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='bx bx-dots-horizontal-rounded'></i></a>
                    <div class="dropdown-menu dropdown-menu-right nav-drop">
                        <a href="#" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
            <div class="location-more d-flex justify-content-between">
                <a href="#">See More</a>
                <a href="#">Log Out Of All Sessions</a>
            </div>
        </div>
    </div>
</div>