<div class="content">
    <div class="settings-form p-4">
        <h2 class="mb-4">Security &#38; Password</h2>
        <h5 class="mb-3 text-muted">Change Password</h5>

        <form #passwordForm="ngForm" (ngSubmit)="changePassword()" class="mt-4 settings-form">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="settingsCurrentPassword">Current Password</label>
                    <input type="password" class="form-control" [(ngModel)]="currentPassword"
                        name="currentPassword" placeholder="Current Password" maxlength="40" minlength="8" required>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-row mb-3 align-items-center">
                    <div class="col">
                        <label for="settingsNewPassword">New Password</label>
                        <input type="password" class="form-control" [(ngModel)]="newPassword"
                        name="newPassword" placeholder="New Password" (change)="checkPasswordStrngth()" maxlength="40" minlength="8" required>
                        <small id="passwordHelp" class="form-text text-muted">It's a good idea to use a strong password that you're not using elsewhere.</small>
                    </div>
                    <div class="col check-username">
                        <div class="progress w-25" *ngIf="showProgressbar">
                            <div class="progress-bar bg-success"  role="progressbar" [style.width.%]="progressbar" 
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="col check-password" *ngIf="showPasswordShort">
                            <span ><i class='bx bx-x error'></i> Passwords Too Short</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-row mb-3">
                    <div class="col">
                        <label for="settingsRetypePassword">Confirm New Password</label>
                        <input type="password" class="form-control" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" 
                        (change)="checkPasswordMatch()" placeholder="Re-type New Password" maxlength="40" minlength="8" required>
                    </div>
                    <div class="col check-password">
                        <span *ngIf="passwordNotMatch"><i class='bx bx-x error'></i> Passwords do not match</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-right">
                <button type="submit" [disabled]="!passwordForm.form.valid" class="btn btn-primary btn-sm">Save Changes</button>
            </div>
        </form>
    </div>
</div>