<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/images/logo-16x16.png" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>signIn</title>


</head>

<body>
    <div class="row ht-100v flex-row-reverse no-gutters">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="signup-form">
                <div class="auth-logo text-center mb-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="../../assets/images/VH.png" width="64px" height="64px" class="logo-img" alt="Logo">
                        </div>
                        <div class="col-md-10">
                            <p>Welcome Back</p>
                            
                        </div>
                    </div>
                </div>
                <form #authForm="ngForm" (ngSubmit)="authenticate()" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" 
								[(ngModel)]="email" placeholder="Email Address" maxlength="30" pattern={{emailPattern}} required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="password" name="password" [(ngModel)]="password" 
								placeholder="Password" class="form-control" maxlength="40" minlength="8" required>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <a href="forgot-password.html">Forgot password?</a>
                        </div>
                        <div class="col-md-6">
                            <label class="custom-control material-checkbox" >
                                <input type="checkbox" class="material-control-input" name="rememberMe" 
                                [(ngModel)]="rememberMe" >
                                <span class="material-control-indicator"></span>
                                <span class="material-control-description">Remember Me</span>
                            </label>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="form-group">
                                <button type="submit" [disabled]="!authForm.form.valid" class="btn btn-primary sign-up">Sign In</button>
                            </div>
                        </div>
						<!--
                        <div class="col-md-12 text-center mt-4">
                            <p class="text-muted">Start using your fingerprint</p>
                            <a href="#" class="btn btn-outline-primary btn-sm sign-up" data-toggle="modal" data-target="#fingerprintModal">Use Fingerprint</a>
                        </div>
						-->
                        <div class="col-md-12 text-center mt-5">
                            <span class="go-login">Not yet a member? <a href="" routerLink="/signUp">Sign Up</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 auth-bg-image d-flex justify-content-center align-items-center">
            <div class="auth-left-content mt-5 mb-5 text-center">
                <div class="weather-small text-white">
                    <p class="current-weather">{{day}}</p>
                    <p class="weather-city">{{clock}}</p>
                </div>
                <div class="text-white mt-5 mb-5">
                    <h2 class="create-account mb-3">VIBE HUB</h2>
                    <p>Thank you for joining. Updates and new features are released daily.</p>
                </div>
                <div class="auth-quick-links">
					<!--ToDO who we are-->
                    <a  class="btn btn-outline-primary">Find More About Us</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade fingerprint-modal" id="fingerprintModal" tabindex="-1" role="dialog" aria-labelledby="fingerprintModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3 class="text-muted display-5">Place your Finger on the Device Now</h3>
                    <img src="../../assets/images/icons/auth-fingerprint.png" alt="Fingerprint">
                </div>
            </div>
        </div>
    </div>

    
</body>

</html>
