<div class="content" style="overflow: auto;">
    <div class="settings-form p-4">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-4">Billing Method</h2>
            <a href="#" class="btn btn-primary">Add New Billing Method</a>
        </div>
        <div class="login-sessions">
            <h5 class="mb-3 mt-4 text-muted">Primary Account Billing Method</h5>
            <p class="text-muted">This is the primary billing method for your account. Iy'll be the default we use to charge you for future transactions.</p>
            <div class="location-card">
                <div class="row">
                    <div class="col-md-5">
                        <img class="mr-4 float-left" src="assets/images/icons/visa.png" alt="Paymant image">
                        <div>
                            <h5 class="mt-0 fs-1">411111******1111</h5>
                            <span class="text-muted">Expire 12/2013</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="billing-address">
                            <span class="d-block">Billing address</span>
                            <span>Address line 1, Address line 2, 2700...</span>
                        </div>
                    </div>
                    <div class="col-md-3 text-right">
                        <a href="#" class="btn"><i class='bx bxs-trash-alt'></i></a>
                    </div>
                </div>
            </div>

            <h5 class="mb-3 mt-4 text-muted">All Other Billing Methods</h5>
            <p class="text-muted">These are all of the other billing methods you have added.</p>
            <div class="location-card">
                <div class="row">
                    <div class="col-md-5">
                        <img class="mr-4 float-left" src="assets/images/icons/paypal.png" alt="Paymant image">
                        <div>
                            <h5 class="fs-1">Pay Pal</h5>
                            <span class="text-muted">bt_buyer_us@paypal.com</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="billing-address">
                            <span class="d-block">Billing address</span>
                            <span>Address line 1, Address line 2, 2700...</span>
                        </div>
                    </div>
                    <div class="col-md-3 text-right">
                        <a href="#" class="btn btn-light">Set as Primary</a>
                        <a href="#" class="btn"><i class='bx bxs-trash-alt'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>